{
	default_sni 47.122.112.92
}

(meal_meter_backend) {
	encode zstd gzip
	reverse_proxy {$MEAL_METER_UPSTREAM}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}

{$APP_DOMAIN} {
	import meal_meter_backend
}

http://47.122.112.92 {
	handle /.well-known/acme-challenge/* {
		root * /var/www/certbot
		file_server
	}

	redir https://47.122.112.92{uri} permanent
}

https://47.122.112.92 {
	tls /etc/letsencrypt/live/47.122.112.92/fullchain.pem /etc/letsencrypt/live/47.122.112.92/privkey.pem
	import meal_meter_backend
}
