{
	default_sni {$SERVER_IP}
}

(meal_meter_backend) {
	encode zstd gzip
	reverse_proxy {$MEAL_METER_UPSTREAM}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}

{$APP_DOMAIN} {
	import meal_meter_backend
}

http://{$SERVER_IP} {
	handle /.well-known/acme-challenge/* {
		root * /var/www/certbot
		file_server
	}

	redir https://{$SERVER_IP}{uri} permanent
}

https://{$SERVER_IP} {
	tls /etc/letsencrypt/live/{$SERVER_IP}/fullchain.pem /etc/letsencrypt/live/{$SERVER_IP}/privkey.pem
	import meal_meter_backend
}
